{
  "api": {
    "port": 5061
  },
  "gateways": [
    {
      "name": "apns",
      "options": {
        "pfx": "",
        "passphrase": ""
      }
    },
    {
      "name": "gcm",
      "options": {
        "api": {
          "key": ""
        }
      }
    }
  ]
}
